.select-teacher {
  text-align: center;
  border: rgba(0, 0, 0, 0.699) solid;
  background: rgba(255, 255, 255, 0.699);
  position: fixed;
  top: 20%;
  left: 10%;
  right: 10%;
  .select-teacher-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}