.select-teacher {
  text-align: center;
  border: black solid;
  background: white;
  position: fixed;
  top: 20%;
  left: 10%;
  right: 10%;
  .select-teacher-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}