.survey-responses {
  text-align: center;
  .all-survey-responses {
    background-color: white;
    border: black solid;
    overflow: scroll;
    height: 500px;
    padding-left: 2%;
    padding-right: 2%;
  }
  .page-header {
    border: black solid;
    background: white;
    text-align: center;
    margin-bottom: 2%;
  }
}

.nav-btn {
  background: rgba(25, 199, 190, 0.815);
}