.survey-responses {
  text-align: center;
  .all-survey-responses {
    background-color: white;
    border: black solid;
    overflow: scroll;
    height: 500px;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 4%;
  }
  .page-header {
    border: black solid;
    background: white;
    text-align: center;
    background: rgba(255, 255, 255, 0.80);
    border-radius: 6px;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.nav-btn {
  background: rgba(25, 199, 190, 0.815);
}