.survey-title {
  border: black solid;
  text-align: center;
}

.survey {
  margin-top: 2%;
  text-align: center;
  border: black solid;
  .submit-btns {
  }
  Button {
    margin-bottom: 2%;
  }
}

.styles_modal__gNwvD {
  width: 100%;
  text-align: center;
  Button {
    margin: 2%;
  }
}