.resource-title {
  border: solid black;
  text-align: center;
}

.nav-btn {
  background: rgba(25, 199, 190, 0.815);
}

.resources {
  background:white;
  border: black solid;
  overflow: scroll;
  height: 500px;
}