.student-select {
  h6 {
    text-align: center;
  }
  .student {
    border: black solid;
    background: rgba(255, 255, 255, 0.699);
    position: fixed;
    top: 20%;
    left: 10%;
    right: 10%;
  .select-student {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  }
}
