.student-select {
  h6 {
    text-align: center;
  }
  .select-student {
    // display: flex;
    // flex-direction: row;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
