.student-select {
  h4 {
    text-align: center;
  }
  .student {
    border: black solid;
    background: white;
  .select-student {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  }
}
