.single-student-btn {
  text-align: center;
  background: rgb(40, 176, 218);
  margin: 2%;
  height: 10vw;
  width: 12vw;
  button {
    background: rgb(40, 176, 218);
    color: white;
    width: 12vw;
    height: 10vw;

  }
}