
.repo-head {
  display: flex;
  flex-direction: row;
}

.styles_overlay__CLSq- {
  background-color: black;
}

.student-repo-title {
  text-align: center;
  border: black solid;
  background: rgba(255, 255, 255, 0.80);
  text-align: center;
  border-radius: 6px;
  margin-left: 10%;
  margin-right: 10%;
}
.student-repo {
  text-align: center;
  background: white;
  height: 500px;
  overflow: scroll;
  border: black solid;
  margin-top: 4%;
  // margin-bottom: 3%;
}

.nav-btn{
  margin-top: 1%;
  margin-left:1%;
  background: rgba(25, 199, 190, 0.815);
}

.searchbar{
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}